@font-face {
    font-family: 'Shimshon';
    src: url('/fonts/SHIMRG__.TTF') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Shimshon';
    src: url('/fonts/SHIMB___.TTF') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Shimshon';
    src: url('/fonts/SHIMBI__.TTF') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Shimshon';
    src: url('/fonts/SHIMI___.TTF') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Shimshon';
    src: url('/fonts/SHIMTI__.TTF') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Shimshon';
    src: url('/fonts/SHIMTRG_.TTF') format('truetype');
    font-weight: 300;
    font-style: normal;
}